#stacked-area-chart {
  width: fit-content;
  height: 600px;
}

:root {
  --text-color: #ecefca;
  --background-color: #213448;
}

button {
  background-color: #384d5e;
  color: #ecefca;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
button:hover {
  background-color: #2b3c4e;
  color: #ecefca;
  border: none;
}

select {
  background-color: #384d5e;
  color: #ecefca;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
select:hover {
  background-color: #2b3c4e;
  color: #ecefca;
  border: none;
}

#tree-map-chart {
  width: 100%;
  height: 400px;
}
/* Font */
.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: #213448;
  padding: 10px;
  color: #ecefca;
  font-family: "Special Gothic Expanded One", monospace;
  font-size: 16px;
}

.cast-tabs {
  overflow: hidden;
  border: none;
  background-color: #384d5e;
  display: flex;
}

.cast-tabs button {
  padding: 10px;
  background-color: inherit;
  color: #ecefca;
  border: none;
  outline: none;
  cursor: pointer;
  padding: auto;
  transition: 1s;
  flex: 1;
  text-align: center;
  font-size: 17px;
}

.cast-tabs button:hover {
  background-color: #1d2935;
}

.cast-tabs button.active {
  background-color: #2b3c4e;
  padding: 10px;
  color: #ecefca;
  width: 100%;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
  animation: fadeEffect 1s;
  background-color: #2b3c4e;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#visualization-container {
  display: flex;
  justify-content: center;
}


.symbol {
  fill: none;
  stroke: lightgrey;
  stroke-width: 14px;
}

.cell {
  stroke: darkgrey;
  stroke-width: 1px;
}

.cost {
  text-anchor: middle;
}

.total-cost {
  fill: lightgrey;
  text-anchor: middle;
  font-size: 20px;
  font-weight: 700;
}

.legend-color {
  stroke-width: 1px;
  stroke: darkgrey;
}

.legend {
  margin-bottom: 10px;
}

.highlighter {
  fill: transparent;
  stroke: none;
}

.highlight {
  stroke: var(--text-color);
  stroke-width: 3px;
}

#title {
  letter-spacing: 4px;
  font-weight: 700;
  font-size: x-large;
  margin: 0;
}

