body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  #title {
    letter-spacing: 4px;
    font-weight: 700;
    font-size: x-large;
    margin: 0;
  }
  
  footer {
    margin-top: 20px;
    font-size: 10pt;
    color: lightgrey;
  }
  
  #visualization-container {
    display: flex;
    justify-content: center;
  }
  
  svg {
    background-color: rgb(250, 250, 250);
    border: 1px solid #eee;
  }
  
  text.tiny {
    font-size: 10pt;
  }
  
  text.light {
    fill: lightgrey;
  }
  
  .symbol {
    fill: none;
    stroke: lightgrey;
    stroke-width: 14px;
  }
  
  .cell {
    stroke: darkgrey;
    stroke-width: 1px;
  }
  
  .cost {
    text-anchor: middle;
  }
  
  .total-cost {
    fill: lightgrey;
    text-anchor: middle;
    font-size: 20px;
    font-weight: 700;
  }
  
  .legend-color {
    stroke-width: 1px;
    stroke: darkgrey;
  }
  
  .legend {
    margin-bottom: 10px;
  }
  
  .highlighter {
    fill: transparent;
    stroke: none;
  }
  
  .highlight {
    stroke: black;
    stroke-width: 2px;
  }